body {
    background-color: darksalmon;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p {
    color: pink;
}

.card {
    width: 640px;
    height: 400px;    
    margin: auto;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    position: relative;
    display: flex;
    position: relative;

}

.inside {
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: blue;
}

.outside {
    position: absolute;
    height: 100%;
    width: 50%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    z-index: 1;
    transform-origin: left;
    transition: 2s;
    background-color: white;

    
}
.front, .back {
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.back{
    transform: rotateY(180deg);
}

.outside, .front, .back {
    border: 1px solid red;
}


.front {
    background-color: white;
    transform: rotateY(0deg);
}

.card:hover {
    transform: rotate(-5deg);
    transition: 2s;
}

.card:hover .outside {
    transform: rotateY(-180deg);
}