body {
    text-align: center;
    background-color: #6b7fc2;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Cherry Bomb One", system-ui;
    color: #6b7fc2;
    

}

p {
    font-size: 1.5rem;
}

img {
    width: 100vh;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
    margin: auto;
    width: 50%;
}

.cherry-bomb-one-regular {
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 100;
    font-style: normal;
  }

.genuine-message {
    padding: 0.5rem;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.card {
    width: 90vw;
    max-width: 40em;
    aspect-ratio: 2 / 1;
    margin: auto;    
    -webkit-perspective: 1200px;
    perspective: 1200px;
    position: relative;
    display: flex;
    position: relative;
    transition: transform 1.5s ease-in-out;
    font-size: clamp(1rem, 2.2vw, 1.4rem);
}

.inside {
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: #ed9d72;
    color: white;
    font-size: clamp(1rem, 2.2vw, 1.4rem);

}

.outside {
    position: absolute;
    height: 100%;
    width: 50%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    z-index: 1;
    transform-origin: left;
    transition: 2s;
    background-color: white;

    
}

.front p {
    font-size: clamp(1rem, 2.2vw, 1.4rem);
}

.front, .back {
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    align-items: center;
    width: 100%;
    height: 100%;

}

.back{
    transform: rotateY(180deg);
    align-items: center;
}


.front {
    background-color: white;
    transform: rotateY(0deg);
}


.outside {
    transition: transform 1.5s ease-in-out;
    transform-style: preserve-3d;
    transform-origin: left;
}

.card.clicked {
    transform: translateX(50%) rotate(-5deg);
}

.card.clicked .outside {
    transform: rotateY(-180deg);
}

.inside,
.front,
.back {
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    p {
        font-size: 1rem;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    p {
        font-size: 1.25rem;
    }
}

@media (min-width: 1025px) {
    p {
        font-size: 1.5rem;
    }
}
